<%- include('includes/header') %>
<%- include('includes/nav') %>


<div class="login-page">

    <h1 class="heading">Faça seu cadastro</h1>

    <div class="mensages">
        <%- include('includes/mensages') %>
    </div>

    <div class="row">
    <form action="/cadastro/register" method="post" id="form-register" class="form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="">
            <i class="fas fa-user"></i>
            <input type="text" class="box usuario valid" name="nome">
        </div>
        <div class="">
            <i class="fas fa-envelope"></i>
            <input type="email" class="box email valid" name="email">
        </div>
        <div class="">
            <i class="fas fa-lock"></i>
            <input type="password" class="box valid" name="senha">
        </div>
        <div class="">
            <button type="submit" class="btn singin">Cadastrar</button>
        </div>
    </form>
    </div>
    <div class="fas fa-cog nut1"></div>
    <div class="fas fa-cog nut2"></div>
</div>

    
<%- include('includes/footer') %>