<%- include('includes/header') %>
<%- include('includes/nav') %>


<div class="conatiner">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <div class="content">
                <h1 class="display-5 text-center mb-4">Faça seu cadastro</h1>

                <%- include('includes/mensages') %>

              <div class="card">
                <form action="/cadastro/register" method="post" class="form">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group mt-3">
                        <label for="nome">Seu nome:</label>
                        <input type="text" class="form-control" name="nome">
                    </div>
                    <div class="form-group mt-3">
                        <label for="email">Seu e-mail:</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group mt-3">
                        <label for="senha">Sua senha:</label>
                        <input type="password" class="form-control" name="senha">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary singin">Cadastrar</button>
                    </div>
                </form>
              </div>
            </div>
        </div>

        <div class="col-2"></div>
    </div>
</div>

    
<%- include('includes/footer') %>