<%- include('includes/header') %>
<%- include('includes/nav') %>


<div class="login-page">

    <h1 class="heading">Adicione um novo contato!</h1>

    <div class="mensages">
        <%- include('includes/mensages') %>
    </div>

    <div class="row">
        <form action="/contato/register" method="post" id="form-contact" class="form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="user_id" value="<%= user._id %>">
            <div class="">
                <i class="fas fa-user"></i>
                <input type="text" class="box usuario valid" name="nome" placeholder="Digite o nome">
            </div>
            <div class="">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="box sobrenome valid" name="sobrenome" placeholder="Digite o sobrenome"> 
            </div>
            <div class="">
                <i class="fas fa-envelope"></i>
                <input type="email" class="box email valid" name="email" placeholder="Digite seu e-mail">
            </div>
            <div class="">
                <i class="fas fa-mobile-alt"></i>
                <input type="tel" class="box telefone valid" name="telefone" placeholder="Digite o telefone">
            </div>
            <div class="">
                <button type="submit" class="btn singin">Salvar</button>
            </div>
        </form>
    </div>
    <div class="fas fa-cog nut1"></div>
    <div class="fas fa-cog nut2"></div>
</div>

    
<%- include('includes/footer') %>
    