<%- include('includes/header') %>
<%- include('includes/nav') %>


<div class="login-page">

    <h1 class="heading">Faça seu login</h1>
    <div class="mensages">
        <%- include('includes/mensages') %>
    </div>

    <div class="row">

        <form action="/login/singin" method="post" id="form-login" class="form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div>
                <i class="fas fa-user"></i>
                <input type="email" class="box email valid" placeholder="Seu nome" name="email">
            </div>
            <div>
                <i class="fas fa-lock"></i>
                <input type="password" class="box valid" placeholder="Seu e-mail" name="senha">
            </div>

            <button type="submit" class="btn singin">Entrar</button>

        </form>
    </div>
    <div class="fas fa-cog nut1"></div>
    <div class="fas fa-cog nut2"></div>
</div>

    
<%- include('includes/footer') %>